.DS_Store
coverage/
docs/
site/
demo/
tests/
.husky/
src/
.prettierrc
.prettierignore
.gitignore
tsconfig.json
tsconfig.build.json
typedoc.js
yarn.lock
.vscode
renovate.json
.eslintrc.json
.github
*.tgz
.env
.env.example
nest-cli.json
