name: Unit tests and lint

on:
  push:
    branches:
      - master
      - dev
      - relases/*
  pull_request_target:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
jobs:
  jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'
      - run: yarn install
      - name: Linst stage
        run: yarn lint
      - name: Test stage
        run: yarn test
